.container-custom {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#measureCanvas {
    border: 2px solid #007bff;
    cursor: crosshair;
    max-width: 100%;
}

/* pourquoi #? : cibler par adresse,
càd: applique ce style à l'élément qui a id="measureCanvas" */
.step {
    background: #f8f9fa;
    padding: 15px;
    margin: 10px 0;
}

.point {
    position: absolute;
    /*position absolue*/
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    /*cercle*/
    transform: translate(-50%, -50%);
}